# Node modules
node_modules/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Compiled output
frontend/dist/
frontend/.angular/

# System files
.DS_Store
Thumbs.db

# OS specific logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
